<section class="auth-section">
    <div class="auth-container">
        <a href="javascript:void(0)" [routerLink]="['/']">
            <h1 class="icon-invow logo auth-logo">
                Invow
            </h1>
        </a>

        <h2 class="auth-heading" *ngIf="inLogin">{{t._.auth?.signin_title}}</h2>
        <div class="auth-wrapper" *ngIf="inLogin">
            <iv-signin></iv-signin>
            <div class="auth-footer">
                {{t._.auth?.not_member_title}} <a href="javascript:void(0)" (click)="inLogin = false">{{t._.auth?.signup_title}}</a>
            </div>
        </div>

        <h2 class="auth-heading" *ngIf="!inLogin">{{t._.auth?.signup_title}}</h2>
        <div class="auth-wrapper" *ngIf="!inLogin">
            <iv-signup></iv-signup>
            <div class="auth-footer">
                {{t._.auth?.already_member_title}} <a href="javascript:void(0)" (click)="inLogin = true">{{t._.auth?.signin_title}}</a>
            </div>
        </div>

    </div>
</section>
