<section class="auth-section">
    <div class="auth-container">
        <h1 class="logo auth-logo">
            <a [routerLink]="['/']">Invow</a>
        </h1>

        <h2 class="auth-heading" *ngIf="inLogin">Sign in</h2>
        <div class="auth-wrapper" *ngIf="inLogin">
            <iv-signin></iv-signin>
            <div class="auth-footer">
                Not member yet? <a (click)="inLogin = false">Sign up</a>
            </div>
        </div>

        <h2 class="auth-heading" *ngIf="!inLogin">Sign up</h2>
        <div class="auth-wrapper" *ngIf="!inLogin">
            <iv-signup></iv-signup>
            <div class="auth-footer">
                Already registered? <a (click)="inLogin = true">Sign in</a>
            </div>
        </div>

    </div>
</section>
