<form class="form-signin" *ngIf="!authService.isLoggedIn" (ngSubmit)="onLoginSubmit()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Username</label>
    <input [(ngModel)]="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" />
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p><a href="auth/facebook">Connect with facebook</a></p>
    <p><a href="auth/twitter">Connect with twitter</a></p>
    <p><a href="auth/google">Connect with google</a></p>
</form>

