<form class="form-signin" (ngSubmit)="onSignupSubmit()">
    <h2 class="form-signin-heading">Please sign up</h2>
    <label for="inputEmail" class="sr-only">Username</label>
    <input [(ngModel)]="signupData.username" type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input [(ngModel)]="signupData.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="signupData.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <label for="inputPassword" class="sr-only">Repeat password</label>
    <input [(ngModel)]="signupData.passwordRepeat" type="password" id="inputPassword" class="form-control" placeholder="Repeat password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

