<div class="auth-content">
    <form class="form-signin" *ngIf="!authService.isLoggedIn" (ngSubmit)="onLoginSubmit()">
        <p class="auth-top-content">Invow is a community to share your passions and interests with the world.</p>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Username</label>
            <input [(ngModel)]="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" />
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
        </div>
        <small *ngIf="longinInProgress" class="text-muted">Attempting to connect...</small>
        <div *ngIf="!longinInProgress && loginFailed">
            <small *ngIf="errorStatusCode == 401" class="text-danger">Wrong password or username/email</small>
            <small *ngIf="errorStatusCode == 429" class="text-danger">Too many connection attempt, please wait</small>
            <small *ngIf="errorStatusCode != 401 && errorStatusCode != 429" class="text-danger">Unknown error please try later</small>
        </div>
        <button [disabled]='!username || !password' class="btn btn-primary btn-block" type="submit">Sign in</button>
        <a class="btn btn--facebook btn-block" href="auth/facebook">Sign in with Facebook</a>
        <a class="btn btn--twitter btn-block" href="auth/twitter">Sign in with Twitter</a>
        <a class="btn btn-secondary btn-block" href="auth/google">Sign in with Google</a>
    </form>
</div>
