@mixin vendor-property($property, $value) {
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$value};
    }
}

@mixin vendor-value($property, $value) {
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$property}: #{$vendor}#{$value};
    }
}

@mixin vendor($property, $value) {
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$vendor}#{$value};
    }
}

@mixin color-placeholder ( $c ) {
    &::-webkit-input-placeholder { color: $c; }
    &::-moz-placeholder { color: $c; }
    &:-ms-input-placeholder { color: $c; }
    &:-moz-placeholder { color: $c; }
}

@mixin vendor-keyframes($name) {
    @-moz-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}
