// VARS

// fonts

$font-primary:              Fira Sans, Helvetica, sans-serif;

//colors

$purple:                    #6B5DFF;

$black:                     #282828;
$black-light:               #777777;
$grey:                      #DDDDDD;
$grey-light:                #BBBBBB;

$whitesmoke:                #F5F5F5;
$white:                     #FFFFFF;

// collection colors

$collection-grey:           #CFD8DC;
$collection-red:            #FF887A;
$collection-orange:         #FFD373;
$collection-yellow:         #FFFF7C;
$collection-purple:         #A4ABFF;
$collection-blue:           #78D6FF;
$collection-cyan:           #A4FFEB;
$collection-green:          #CBFF8A;

$collection-default-color:  $collection-grey;

$color-facebook:            #3B5998;
$color-twitter:             #55ACEE;
$color-google:              #DD4B39;

// color palette

$palette-yellow:            #FFE847;

// components

$images-overlay:            rgba(0,0,0,.6);
$border-color:              rgba(0,0,0,.1);
$hover-dark-color:          rgba(0,0,0,.1);
$hover-light-color:         rgba(255,255,255,.1);
$box-shadow-color:          rgba(0,0,0,.04);

$black-op-1-4:              rgba(0,0,0,.25);
$black-op-1-3:              rgba(0,0,0,.33);
$black-op-1-2:              rgba(0,0,0,.5);
$black-op-2-3:              rgba(0,0,0,.66);
$black-op-3-4:              rgba(0,0,0,.75);

$white-op-1-4:              rgba(255,255,255,.25);
$white-op-1-3:              rgba(255,255,255,.33);
$white-op-1-2:              rgba(255,255,255,.5);
$white-op-2-3:              rgba(255,255,255,.66);
$white-op-3-4:              rgba(255,255,255,.75);

$text-blacker:              $black-op-1-2;
$text-whiter:               $white-op-1-2;
$placeholder-blacker:       $black-op-1-2;
$placeholder-whiter:        $white-op-3-4;

$screen-xs:                 0;
$screen-sm:                 425px; // 380px
$screen-md:                 610px; // 700px
$screen-lg:                 885px; // 1020px
$screen-xl:                 1140px; // 1320px

$container-sm:              100%; // 320px
$container-md:              550px; // 640px
$container-lg:              825px; // 960px
$container-xl:              1100px; // 1280px

