<section *ngIf="!isLoadingCollection && collection && collection._id" class="section collection-page">
    <div class="container">
        <div class="page-wrapper">
            <div class="collection-page-header">
                <!--<h2 class="collection-page-title">{{collection.title}}</h2>-->
                <div class="collection-page-details">
                    <a [routerLink]="['/', collection._author.username]" title="{{collection._author?.name}}">
                        <div class="collection-page-avatar avatar avatar--60">
                            <img *ngIf="collection._author._avatar" [src]="collection._author._avatar.getPath('60x60')" alt="{{collection._author?.name}} avatar">
                            {{collection._author.name.charAt(0)}}
                        </div>
                    </a>
                    <div class="collection-page-details-infos">
                        <div class="collection-page-metas">
                            <p class="collection-page-author">
                                {{t._.collection?.by_title}} <strong>{{collection._author?.name}}</strong>
                            </p>
                            <p class="collection-page-dates">
                                <span>{{collection.createdAt | date }}</span> <span *ngIf="collection.modifiedAt">• last modifications: {{collection.modifiedAt | date }}</span>
                                <span *ngIf="isAuthor">
                                    <a (click)="deleteCollection()">Delete collection</a>|
                                    <a (click)="startUpdateCollection()">Update collection</a>
                                </span>
                            </p>
                        </div>
                        <div class="collection-page-stats">
                            <ul class="stats-list">
                                <li class="stat-item-list">
                                    {{collection.itemsCount}}
                                    <span *ngIf="collection.itemsCount < 2">{{t._.collection?.item_sing}}</span>
                                    <span *ngIf="collection.itemsCount > 1">{{t._.collection?.item_plur}}</span>
                                </li>
                                <li *ngIf="collection.visibility.id != 'PRIVATE'" class="stat-item-list">
                                    <i class="material-icons stat-icon">mode_comment</i> 0
                                </li>
                                <li *ngIf="collection.visibility.id != 'PRIVATE'" (click)="onStarCliked()" class="stat-item-list">
                                    <i class="material-icons stat-icon">star</i> {{collection.starsCount}}
                                </li>
                                <li *ngIf="collection.visibility.id == 'PRIVATE'" class="stat-item-list">
                                    <i class="material-icons stat-icon">visibility_off</i> {{t._.collection?.visibility?.title}}: {{ t._.collection?.visibility[collection.visibility.id].title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <iv-collection-create
                *ngIf="updateCollectionIntent"
                [collection]=collection
                (newCollection)="onCollectionUpdated($event)"
                (updateCanceled)="onUpdateCollectionCanceled()">
            </iv-collection-create>
            <iv-item-create
                *ngIf="isAuthor"
                [collection]=collection
                (newItem)="onNewItem($event)">
            </iv-item-create>

            <div iv-sortable [list]=collection._items (itemMoved)="onItemMoved($event)" class="items-list" *ngIf="itemLoaded">
                <article *ngIf="collection._items.length == 0">
                    <p>There is no items in the colletion yet...</p>
                </article>
                <article class="item ui-state-default" *ngFor="let item of collection._items">
                    <iv-item [item]=item [isAuthor]=isAuthor (deletedItem)="onDeletedItem($event)"></iv-item>
                </article>
            </div>

            <div>
                <a class="load-more" *ngIf="haveMoreItems && !loadingItems"(click)="loadNextPage()">{{t._.action?.load_more}}...</a>
                <p class="loading-more" *ngIf="loadingItems">Loading...</p>
                <p class="no-more" *ngIf="!haveMoreItems">You’ve reached the end of the list</p>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!isLoadingCollection && (!collection || !collection._id)">
    <section class="section">
        <div class="container">
            <h2 class="section-title dark-bg"><b style="font-size: 40px">😕  </b>Sorry cannot find collection with id: "{{searchParams}}"</h2>
        </div>
    </section>
</section>


