.footer {
  background: rgba(0,0,0,.04);
  padding: 2rem 0 3rem;
  color: $black-light;

  &.is-hidden {
    display: none;
  }

  .logo {
    width: 40px;
    height: 40px;
    text-indent: 0;
    font-size: 30px;
    line-height: 48px;
  }

  .footer-logo {
    float: left;
    display: inline-block;
    margin: 0 10px 0 0;
  }

  .footer-copy {
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
  }
}
