<article *ngIf="collection" class="card card-collection">
    <div *ngIf="sortable" class="card-collection-drag-handle">
        <i class="material-icons move-item-button">drag_handle</i>
    </div>
    <a [routerLink]="['/c', collection._id]" class="card-collection-container">
        <div *ngIf="collection._thumbnail" class="card-collection-background thumbnail">
            <img [src]="collection._thumbnail?.getPath('300x250')" />
        </div>
        <div *ngIf="!collection._thumbnail" [style.background-color]="'#'+collection.color" class="card-collection-background"></div>
        <div class="card-collection-content" [class.has-thumbnail]="collection._thumbnail">
            <h3 class="card-collection-title">{{collection.title}}</h3>
            <p class="card-collection-caption">{{collection.bio}}</p>
            <div class="card-collection-details">
                <div class="card-avatar avatar avatar--32">
                    <img *ngIf="collection._author?._avatar" [src]="collection._author?._avatar.getPath('60x60')" alt="{{collection._author?.name}} avatar">
                    {{collection._author?.name?.charAt(0)}}
                </div>
                <div class="card-collection-stats" [class.has-thumbnail]="collection._thumbnail">
                    <ul *ngIf="collection.visibility.id != 'PRIVATE'" class="stats-list">
                        <li class="stat-item-list">
                            <i class="material-icons stat-icon">mode_comment</i> 0
                        </li>
                        <li class="stat-item-list" [class.starred]="collection._star"  (click)="onStarCliked()" >
                            <i class="material-icons stat-icon">star</i> {{collection.starsCount}}
                        </li>
                    </ul>
                    <div *ngIf="collection.visibility.id == 'PRIVATE'" class="card-collection-visibility" title="Visibility: {{collection.visibility.desc}}">
                        <i class="material-icons stat-icon">visibility_off</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-collection-bottom">
            <div class="card-collection-reason"></div>
            <div class="card-collection-count">
                {{collection.itemsCount}}
                <span *ngIf="collection.itemsCount < 2">{{t._.collection?.item_sing}}</span>
                <span *ngIf="collection.itemsCount > 1">{{t._.collection?.item_plur}}</span>
            </div>
        </div>
    </a>
</article>
