<header class="header" [class.has-thumbnail]="image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
    <div class="container">
        <button class="pull-xs-left navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#header-menu">
            &#9776;
        </button>
        <div class="logo collapse navbar-toggleable-md">
            <h1>
                <a [routerLink]="['/']">Invow</a>
            </h1>
        </div>

        <form class="form-inline header-search-form">
            <div class="input-group">
                <span class="input-group-addon" id="header-search">
                    <i class="material-icons">search</i>
                </span>
                <input class="form-control" type="text" placeholder="Search on Invow..." aria-describedby="header-search">
            </div>
        </form>

        <nav class="nav nav-pills pull-xs-right collapse navbar-toggleable-md">
            <li class="nav-item" *ngIf="!authService.isLoggedIn">
                <a class="nav-link" [class.active]="router.url == '/c/popular'" [routerLink]="['/c/popular']">
                    Popular
                </a>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn">
                <a class="nav-link" [class.active]="router.url == '/c/last'" [routerLink]="['/c/last']">
                    Last
                </a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn">
                <a class="nav-link" [class.active]="router.url == '/dashboard'" [routerLink]="['/dashboard']">
                    Dashboard
                </a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn">
                <a class="nav-link" [class.active]="router.url == '/discover'" [routerLink]="['/discover']">
                    Discover
                </a>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isLoggedIn">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{authService.currentUser.name}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/u', authService.currentUser._id]">
                        Profile/Settings
                    </a>
                    <a class="dropdown-item" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')" [routerLink]="['/admin']">
                        Admin
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [class.active]="router.url == '/logout'" [routerLink]="['/logout']">
                        Logout
                    </a>
                </div>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn" >
                <a class="nav-link" [class.active]="router.url == '/signin'" [routerLink]="['/signin']">
                    Signin
                </a>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn">
                <a class="nav-link" [class.active]="router.url == '/signup'" [routerLink]="['/signup']">
                    Signup
                </a>
            </li>
        </nav>
    </div>
    <div class="container radial-cover"></div>
</header>
