/* ==========================================================================
   HEADER COMPONENT
   ========================================================================== */

@import '../../style/tools/_vars.scss';
@import '../../style/tools/_mixins.scss';

.header {
    background-color: $purple;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 260px;
    padding: 30px 0;
    position: relative;
    @include vendor-property(transition, "background .2s ease, min-height .3s ease");

    & > * {
        position: relative;
        z-index: 1
    }
}

.header.has-thumbnail {
    background-blend-mode: overlay;
    background-color: $black-op-2-3;
}

.header.has-jumbotron {
    background-image: url(assets/img/patern-map.png)!important;
    background-blend-mode: soft-light;
    background-size: 50%;
    background-repeat: repeat;
}

.header.searching {
    min-height: 100%;

    .radial-cover {
        opacity: 0;
    }
}

.header-container {
    margin-bottom: 60px;
}

.header .radial-cover {
    opacity: 1;
    z-index: 0;
    position: absolute;
    height: 260px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    @include vendor-property(transition, "opacity 1.5s ease-in-out");

    &:after {
        content: "";
        position: relative;
        width: 100%;
        height: 260px;
        // top: -70px;
        background-image: radial-gradient(ellipse farthest-side at 50% 100% , $white-op-2-3 0%, transparent 95%);
    }
}

.logo {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
    margin-right: 30px;
    color: $white;
    font-size: 30px;
    line-height: 48px;
    text-indent: 0;

    &:before {

    }

    .logo-name {
        text-indent: -9999px;
    }
}

.header-search-form {
    float: left;

    .input-group-addon {
        background: rgba(0,0,0,.15);
        border: none;
        color: $white;
        padding: 4px 0 0 9px;
    }

    input {
        background-color: rgba(0,0,0,.15);
        width: 100%;
        color: $white;
        border: none;
        padding: 9px;
        font-size: 1.125rem;
        line-height: 1rem;

        @include rwd-md {
            width: 367px;
        }
    }
    input {
        @include color-placeholder($placeholder-whiter);
    }
}

.search-cancel {
    color: $white!important;
    height: 40px;
    z-index: 3;
    position: relative;
    padding: 0 15px;
    line-height: 2.375rem;
    @include vendor(transform, "translateX(-100%)");
}

.nav-pills .nav-item + .nav-item {
    margin-left: 30px;
}

.nav-pills .nav-item.open > a {
    color: $white;
}

.nav > li > a {
    color: $white-op-3-4;
    font-weight: bold;
    position: relative;
    padding: .5rem 0;

    &.active, &:hover, &:focus, &:active {
        color: $white;
    }

    &.active:hover, &.active {
        background-color: transparent;
    }

    &.active {

        &:after {
            content: "";
            background: $white;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.menu-avatar {
    float: right;
    margin: -.5rem 0 -.5rem 1rem;
    border: none;
}

.header-jumbotron {
    padding: 12rem 0 10rem;
    text-align: center;
    color: $white;
}

.jumbotron-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.jumbotron-lead {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.page-title {
    font-size: 3rem;
    line-height: 4rem;
    margin: 50px 0 32px;
    color: $white;
}
