<header @headerState="headerState" class="header" [class.collapse]="noHeader" [class.has-thumbnail]="image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
    <div class="container">
        <button class="pull-xs-left navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#header-menu">
            &#9776;
        </button>
        <a [routerLink]="['/']">
            <div class="logo collapse navbar-toggleable-md">
                <h1>
                    Invow
                </h1>
            </div>
        </a>

        <form class="form-inline header-search-form">
            <div class="input-group">
                <span class="input-group-addon" id="header-search">
                    <i class="material-icons">search</i>
                </span>
                <input [(ngModel)]="searchQuery" (focus)="searchIntent()" (ngModelChange)="onSearchQueryChange()" class="form-control" type="text" placeholder="{{t._?.header?.search_placeholder}}" aria-describedby="header-search">
                <a *ngIf="headerState == 'search' "(click)="cancelSearch()" style="color: #fff">Cancel</a>
            </div>
        </form>

        <nav class="nav nav-pills pull-xs-right collapse navbar-toggleable-md">
            <li class="nav-item" *ngIf="authService.isLoggedIn">
                <a class="nav-link" [class.active]="router.url == '/dashboard'" [routerLink]="['/dashboard']">
                    {{t._?.header?.dashboard_title}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="router.url == '/discover'" [routerLink]="['/discover']">
                    {{t._?.header?.discover_title}}
                </a>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isLoggedIn">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{authService.currentUser.name}}
                    <div class="menu-avatar avatar avatar--40">
                        <img *ngIf="authService.currentUser._avatar" [src]="authService.currentUser._avatar.getPath('40x40')"  alt="{{authService.currentUser?.name}} avatar">
                        {{authService.currentUser.name.charAt(0)}}
                    </div>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/', authService.currentUser.username]">
                        {{t._?.header?.profile_menu}}
                    </a>
                    <a class="dropdown-item" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')" [routerLink]="['/admin']">
                       {{t._?.header?.admin_menu}}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [class.active]="router.url == '/logout'" [routerLink]="['/logout']">
                        {{t._?.header?.logout_menu}}
                    </a>
                </div>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn" >
                <a class="nav-link" [class.active]="router.url == '/signin'" [routerLink]="['/signin']">
                    {{t._?.header?.signin_title}}
                </a>
            </li>
        </nav>
        <div *ngIf="title" class="page-wrapper">
            <h2 class="collection-page-title">{{title}}</h2>
        </div>
    </div>
    <div *ngIf="!image" class="container radial-cover"></div>

    <section *ngIf="headerState == 'search'" class="section">
        <div class="container">
            <div *ngIf="!searchQuery">
                <h2 class="section-title dark-bg">No ideas? You can visit the discover page…</h2>
            </div>
            <div *ngIf="searchQuery">
                <div *ngIf="users.length < 1 && collections.length < 1">
                    <h2 class="section-title dark-bg">Sorry no result for {{searchQuery}}</h2>
                </div>
                <div *ngIf="users.length > 0">
                    <h2 class="section-title dark-bg">Users</h2>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of users">
                            <img  *ngIf="user._avatar" [src]="user._avatar?.getPath('60x60')" />
                            <b>{{user.name}}</b>
                            <small>@{{user.username}}</small>
                        </div>
                    </div>
                </div>
                <div *ngIf="collections.length > 0">
                    <h2 class="section-title dark-bg">Collections</h2>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of collections">
                            <iv-collection-card [collection]=collection></iv-collection-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
