<header class="header" [class.has-jumbotron]="!authService.isLoggedIn && headerState == 'discover'" [class.searching]="headerState == 'search'" [class.collapse]="noHeader" [class.has-thumbnail]="image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
    <div class="container header-container">
        <div class="header-top col-xs-12 clearfix">
            <button class="float-xs-left navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#header-menu">
                &#9776;
            </button>
            <a href="javascript:void(0)" [routerLink]="['/']">
                <div class="icon-invow logo collapse navbar-toggleable-md">
                    <h1 class="logo-name">Invow</h1>
                </div>
            </a>

            <form class="form-inline header-search-form">
                <div class="input-group">
                    <span class="input-group-addon" id="header-search">
                        <i class="material-icons">search</i>
                    </span>
                    <input [(ngModel)]="searchQuery" (focus)="searchIntent()" (click)="searchIntent()" (keyup)="onQueryKeyUp()" (keydown)="onQueryKeyDown()" name="searchQuery" class="form-control" type="text" placeholder="{{t._?.header?.search_placeholder}}" aria-describedby="header-search">
                    <a href="javascript:void(0)" class="btn btn-link search-cancel" *ngIf="headerState == 'search' "(click)="cancelSearch()">Cancel</a>
                </div>
            </form>

            <nav class="nav nav-pills float-xs-right collapse navbar-toggleable-md">
                <li class="nav-item" *ngIf="authService.isLoggedIn">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
                        {{t._?.header?.dashboard_title}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/discover']">
                        {{t._?.header?.discover_title}}
                    </a>
                </li>
                <li class="nav-item dropdown" *ngIf="authService.isLoggedIn">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{authService.currentUser.name}}
                        <div class="menu-avatar avatar avatar--40">
                            <img *ngIf="authService.currentUser._avatar" [src]="authService.currentUser._avatar.getPath('40x40')"  alt="{{authService.currentUser?.name}} avatar">
                            <span class="avatar-char">{{authService.currentUser.name.charAt(0)}}</span>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/', authService.currentUser.username]">
                            {{t._?.header?.profile_menu}}
                        </a>
                        <a class="dropdown-item" *ngIf="authService.currentUser?.isGranted('ROLE_ADMIN')" [routerLink]="['/admin']">
                           {{t._?.header?.admin_menu}}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/logout']">
                            {{t._?.header?.logout_menu}}
                        </a>
                    </div>
                </li>
                <li class="nav-item" *ngIf="!authService.isLoggedIn" >
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/signin']">
                        {{t._?.header?.signin_title}}
                    </a>
                </li>
            </nav>
        </div>

        <div class="header-bottom col-xs-12">
            <div class="header-jumbotron" *ngIf="!authService.isLoggedIn && headerState == 'discover'">
                <h1 class="jumbotron-title">TidyCards, the new way to bookmark</h1>
                <p class="jumbotron-lead">Discover what's happening right now.<br>
                Find collections and inspiration about the things you love.</p>
                <a class="btn btn-primary" routerLinkActive="active" [routerLink]="['/signin', {mode: 'signup'}]">Sign up today</a>
                <a href="" class="btn btn-secondary">Learn more</a>
            </div>

            <div *ngIf="title" class="page-wrapper">
                <h2 class="page-title">{{title}}</h2>
            </div>
        </div>
    </div>

    <div *ngIf="!image" class="container radial-cover"></div>

    <section *ngIf="headerState == 'search'" class="section">
        <iv-search-header></iv-search-header>
    </section>
</header>
