<section class="section">
    <div class="container">
        <h2 class="section-title dark-bg">
            {{t._.discover?.featured_title}}
            <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/c/featured']">
                {{t._.action?.see_all}}
            </a>
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of featuredCollections">
                <iv-collection-card [collection]="collection" [sortable]="false"></iv-collection-card>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">
            {{t._.discover?.popular_title}}
            <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/c/popular']">
                {{t._.action?.see_all}}
            </a>
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of popularCollections">
                <iv-collection-card [collection]="collection" [sortable]="false"></iv-collection-card>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">
            {{t._.discover?.last_title}}
            <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/c/last']">
                {{t._.action?.see_all}}
            </a>
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of lastCollections">
                <iv-collection-card [collection]="collection" [sortable]="false"></iv-collection-card>
            </div>
        </div>
    </div>
</section>
