<section class="section">
    <div class="container">
        <h2>Password reset complete</h2>
        <div style="margin-top: 100px">
            <input [(ngModel)]='password' type="password" placeholder="new password" />
            <input [(ngModel)]='passwordRepeat' type="password" placeholder="new password repeat" />
            <input (click)="completeReset()" [disabled]="!password && password!=passwordRepeat" type="submit" value="Update" class="btn btn-sm btn-success"/>
        </div>
    </div>
</section>
