<div class="item-new extended"><!-- collapsed/extended -->
    <form (ngSubmit)="onItemSubmit()">
        <div class="item-new-embeded-content loading-content" *ngIf="urlEntry && loadingContent">
            Loading...
        </div>
        <div class="item-new-embeded-content loading-content" *ngIf="urlEntry && !loadingContent && !validUrl">
            Invalid Url
        </div>
        <div class="item-new-embeded-content" *ngIf="!loadingContent && item._content && validUrl">
            <span class="item-new-preview">How it's gonna looks like</span>
            <tc-item-url *ngIf="item.type == itemTypes.URL" [item]=item ></tc-item-url>
            <tc-item-image *ngIf="item.type == itemTypes.IMAGE" [item]=item ></tc-item-image>
            <tc-item-tweet *ngIf="item.type == itemTypes.TWEET" [item]=item ></tc-item-tweet>
            <tc-item-youtube *ngIf="item.type == itemTypes.YOUTUBE" [item]=item ></tc-item-youtube>
        </div>
        <input
            (keyup)="onUrlKeyUp()"
            (keydown)="onUrlKeyDown($event)"
            (focus)="onUrlFocus()"
            [(ngModel)]="urlEntry"
            [class.active]="!actionIntent"
            name="urlEntry"
            class="item-new-url" type="text" placeholder="Enter your url..."/>
        <button *ngIf="!actionIntent" (click)="onUrlFocus(); addDescription = true" class="btn-icon" type="button">
            <i class="material-icons icon">comment</i>
        </button>
        <textarea class="item-new-description" type="input" placeholder="Title..." name="title" rows="1" [(ngModel)]="item.title" ></textarea>
        <textarea *ngIf="addDescription" (keydown)="onDescriptionKeyDown($event)" [(ngModel)]="item.description" name="description" class="item-new-description" placeholder="Add a description here..." rows="1"></textarea>

        <div [class.collapse]="!actionIntent" class="item-create d-flex">
            <div class="btn-group form-action active" [class.active]="addDescription" (click)="addDescription = !addDescription">
                <button class="btn-icon" type="button">
                    <i class="material-icons icon">comment</i>
                </button>
            </div>
            <div *ngIf="validUrl" class="btn-group form-action">
                <button (click)="resetItemContent()" class="btn-icon text-danger" type="button">
                    <i class="material-icons icon">link</i><span>Reset url</span>
                </button>
            </div>

            <input
                *ngIf="mode == 'CREATE'"
                [disabled]="(!item.description && !item._content) || (urlEntry && !validUrl) || (loadingContent)"
                class="btn btn-create ml-auto" type="submit" value="Add"/>

            <input
                *ngIf="mode == 'UPDATE'"
                [disabled]="(!item.description && !item._content) || (urlEntry && !validUrl) || (loadingContent)"
                class="btn btn-create ml-auto" type="submit" value="Update"/>

            <a href="javascript:void(0)" *ngIf="mode == 'UPDATE'" (click)="cancelUpdate()" class="btn btn-create float-xs-right">Cancel</a>
        </div>
    </form>
</div>
