<!-- website item -->
<div class="item-embeded-container item-website" [class.item-no-image]="!itemUrl.image" *ngIf="itemUrl.type == 'website'">
    <a [href]="itemUrl.url" target="_blank">
        <div class="item-embeded-image" *ngIf="itemUrl.image">
            <div class="item-img-container">
                <img [src]="itemUrl.image" />
            </div>
        </div>
        <div class="item-embeded-content" [class.item-no-img]="!itemUrl.image">
            <div class="item-embeded-content-wrapper">
                <h3 class="item-title" *ngIf="itemUrl.title">{{itemUrl.title}}</h3>
                <p class="item-desc" *ngIf="itemUrl.description">{{itemUrl.description}}</p>
                <p class="item-metas" *ngIf="itemUrl.host || itemUrl.author">
                    <span class="item-host">{{itemUrl.host}} {{itemUrl.type}}</span>
                    <span class="item-author" *ngIf="itemUrl.author">| by {{itemUrl.author}}</span>
                </p>
            </div>
        </div>
    </a>
</div>

<!-- article item -->
<div class="item-embeded-container item-article" [class.item-no-image]="!itemUrl.image" *ngIf="itemUrl.type == 'article'">
    <a [href]="itemUrl.url" target="_blank">
        <div class="item-embeded-image" *ngIf="itemUrl.image">
            <div class="item-img-container">
                <img [src]="itemUrl.image" />
            </div>
        </div>
        <div class="item-embeded-content" [class.item-no-img]="!itemUrl.image">
            <div class="item-embeded-content-wrapper">
                <h3 class="item-title" *ngIf="itemUrl.title">{{itemUrl.title}}</h3>
                <p class="item-desc" *ngIf="itemUrl.description">{{itemUrl.description}}</p>
                <p class="item-metas" *ngIf="itemUrl.host || itemUrl.author">
                    <span class="item-host">{{itemUrl.host}} {{itemUrl.type}}</span>
                    <span class="item-author" *ngIf="itemUrl.author">| by {{itemUrl.author}}</span>
                </p>
            </div>
        </div>
    </a>
</div>

<!-- no type item -->
<div class="item-embeded-container no-type" [class.item-no-image]="!itemUrl.image" *ngIf="!itemUrl.type || !(itemUrl.type == 'article' || itemUrl.type == 'website')">
    <a [href]="itemUrl.url" target="_blank">
        <div class="item-embeded-image" *ngIf="itemUrl.image">
            <div class="item-img-container">
                <img [src]="itemUrl.image" />
            </div>
        </div>
        <div class="item-embeded-content">
            <div class="item-embeded-content-wrapper">
                <h3 class="item-title" *ngIf="itemUrl.title">{{itemUrl.title}}</h3>
                <p class="item-desc" *ngIf="itemUrl.description">{{itemUrl.description}}</p>
                <p class="item-metas" *ngIf="itemUrl.host || itemUrl.author">
                    <span class="item-host">{{itemUrl.host}} {{itemUrl.type}}</span>
                    <span class="item-author" *ngIf="itemUrl.author">| by {{itemUrl.author}}</span>
                </p>
            </div>
        </div>
    </a>
</div>
