/* ==========================================================================
   ITEM COMPONENT
   ========================================================================== */

@import '../../style/tools/_vars.scss';
@import '../../style/tools/_mixins.scss';

.item-embeded-container {
    color: $black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    a {
        width: 100%;
        color: inherit;
        text-decoration: none;
    }
}

.item-embeded-content {
    background: $white;
    height: 100%;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    p:last-child {
        margin-bottom: 0;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.item-embeded-image {
    background: $collection-grey;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 350px;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 100%;
        height: 100%;
    }
}

.item-embeded-image + .item-embeded-content {
    background: $white;
    border: 1px solid $border-color;
    border-top: none;
    border-radius: 0 0 3px 3px;
}

.item-no-image {
    .item-embeded-content {
        background: $collection-grey;
    }
}

.item-embeded-container.no-type {
    flex-direction: row;
    align-items: stretch;

    .item-embeded-image {
        width: auto;
        max-width: 33%;
        min-width: 15%;
        float: left;
        border-radius: 3px 0 0 3px;
    }

    .item-embeded-image + .item-embeded-content {
        border-radius: 0 3px 3px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-left: none;
    }
}

.item-embeded-container.item-article {
    border-radius: 3px;

    .item-embeded-image {
        position: absolute;
        height: 100%;
        max-height: 100%;
        display: block;

        img {
            position: absolute;
            object-fit: cover;
            object-position: center center;
        }
    }

    .item-embeded-content {
        z-index: 1;
        position: relative;
        background: transparent!important;
        color: $white;
        padding: 180px 20px 20px;
        border: none;

        &:before {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.66);
            position: absolute;
            z-index: -1;
        }
    }

    .item-metas {
        color: $white-op-2-3;
    }
}

.item-title {
    font-size: 1.75rem;

    &:hover {
        text-decoration: underline;
    }
}

.item-desc {
    font-size: 1.125rem;
}

.item-container-metas, .item-metas {
    font-size: .875rem;
    color: $black-op-2-3;
}

.item-container-metas {
    color: $black-op-1-3;
    margin-bottom: .1rem;

    a {
        color: $black-op-1-3;
    }
}

.item-content {
    margin: 20px 0 35px;
    font-size: 1.125rem;
    line-height: 1.5rem;
}
