<div class="profile-header">
    <div class="profile-avatar avatar avatar--140">
        <img *ngIf="!tmpUser._avatar && authService.currentUser._avatar" [src]="authService.currentUser._avatar.getPath('140x140')"  alt="{{authService.currentUser?.name}} avatar">
        {{authService.currentUser.name.charAt(0)}}

        <div class="profile-avatar-tmp" *ngIf="tmpUser._avatar">
            <img [src]="tmpUser._avatar.getPath('original')" />
        </div>
        <div class="profile-avatar-uploader">
            <span class="profile-avatar-uploader-icon material-icons">cloud_upload</span>
            <input (change)="onAvatarFileChange($event)" type="file" ng2FileSelect [uploader]="uploader" />
        </div>
    </div>
    <div class="profile-header-infos">
        <div class="profile-header-top">
            <div class="profile-infos-name">
                <h2 class="profile-name">
                    <input #nameInput [disabled]="!updateNameIntent" [(ngModel)]="tmpUser.name" type="text" />
                </h2>
                <h3 class="profile-username">@{{authService.currentUser.username}}</h3>
            </div>
            <div class="profile-infos-edit">
                <input *ngIf="tmpUser._avatar" class="btn btn-sm btn-success" type="submit" (click)="updateAvatar()" value="Save" />
                <input *ngIf="tmpUser._avatar" class="btn btn-sm btn-secondary" type="submit" (click)="cancelUpdateAvatar()" value="Cancel" />

                <input *ngIf="!updateNameIntent" (click)="startUpdateName()" class="btn btn-sm btn--light-op" type="submit" value="Edit" />
                <input *ngIf="updateNameIntent" (click)="updateName()" [disabled]="!tmpUser.name" class="btn btn-sm btn-success" type="submit" value="Save" />
                <a *ngIf="updateNameIntent" (click)="cancelUpdateName()" class="btn btn-sm btn-secondary">Cancel</a>
            </div>
        </div>
        <div class="profile-header-bottom">
            <textarea [(ngModel)]="tmpUser.bio" [disabled]="!updateNameIntent" class="profile-infos-bio" placeholder="Your description here...">{{tmpUser.bio}}</textarea>
        </div>
    </div>
</div>

<div class="account-settings section">
    <h2 class="section-title withDescription">Account</h2>
    <p class="section-description">Change my basic account settings.</p>

    <div class="list-item">
        <div class="list-item-infos">
            <h3 class="list-item-title">My username</h3>
            <p class="list-item-description">http://invow.io/<input #usernameInput [(ngModel)]="tmpUser.username" (keyup)="onUsernameKeyUp()" (keydown)="onUsernameKeyDown()" [disabled]="!updateUsernameIntent" class="list-item-description-darker" type="input"/></p>
            <div *ngIf="updateUsernameIntent" class="list-item-status">
                <small *ngIf="tmpUser.username === authService.currentUser.username" class="text-success">That’s your current username!</small>
                <div *ngIf="tmpUser.username != authService.currentUser.username">
                    <small class="text-muted" *ngIf="validatingUsername">Validation in progress..</small>
                    <small class="text-success" *ngIf="!validatingUsername && usernameValid">This username is available</small>
                    <small class="text-danger" *ngIf="!validatingUsername && !usernameValid">This username is not available</small>
                </div>
            </div>
        </div>
        <div class="list-item-actions">
            <input *ngIf="!updateUsernameIntent" (click)="startUpdateUsername()" class="btn btn-sm btn-secondary-outline" type="submit" value="Edit username"/>
            <input *ngIf="updateUsernameIntent" [disabled]="!usernameValid" (click)="updateUsername()" class="btn btn-sm btn-success" type="submit" value="Save"/>
            <a *ngIf="updateUsernameIntent" (click)="cancelUpdateUsername()" class="btn btn-sm btn-secondary">Cancel</a>
        </div>
    </div>

    <div class="list-item">
        <div class="list-item-infos">
            <h3 class="list-item-title">My email</h3>
            <input #emailInput [disabled]="!updateEmailIntent" class="list-item-description-darker" type="input" value="{{authService.currentUser.email}}"/>
        </div>
        <div class="list-item-actions">
            <input *ngIf="!updateEmailIntent" (click)="startUpdateEmail()" class="btn btn-sm btn-secondary-outline" type="submit" value="Edit email">
            <input *ngIf="updateEmailIntent" class="btn btn-sm btn-success" type="submit" disabled value="Save (WIP)"/>
            <a *ngIf="updateEmailIntent" (click)="cancelUpdateEmail()" class="btn btn-sm btn-secondary">Cancel</a>
        </div>
    </div>
</div>

<div class="connections-settings section">
    <h2 class="section-title withDescription">Connections</h2>
    <p class="section-description">Manage the apps connections.</p>

    <div class="list-item">
        <div class="list-item-infos">
            <h3 class="list-item-title">Connect to Facebook</h3>
            <p class="list-item-description">Use my Facebook account to login. <strong>We will never post to Facebook or message your friends without your permission.</strong></p>
        </div>
        <div class="list-item-actions" *ngIf="!authService.currentUser.facebook?.id">
            <a class="btn btn-sm btn--facebook" href="auth/facebook">Link Facebook</a>
        </div>
        <div class="list-item-actions" *ngIf="authService.currentUser.facebook?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.twitter?.id)">
            <a class="btn btn-sm btn-secondary-outline" (click)="unlinkAccount('FACEBOOK')">Unlink Facebook</a>
        </div>
    </div>
    <div class="list-item">
        <div class="list-item-infos">
            <h3 class="list-item-title">Connect to Twitter</h3>
            <p class="list-item-description">Use my Twitter account to login. <strong>We will never post to Twitter or message your followers without your permission.</strong></p>
        </div>
        <div class="list-item-actions" *ngIf="!authService.currentUser.twitter?.id">
            <a class="btn btn-sm btn--twitter" href="auth/twitter">Link Twitter</a>
        </div>
        <div class="list-item-actions" *ngIf="authService.currentUser.twitter?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.facebook?.id)">
            <a class="btn btn-sm btn-secondary-outline" (click)="unlinkAccount('TWITTER')">Unlink Twitter</a>
        </div>
    </div>
    <div class="list-item">
        <div class="list-item-infos">
            <h3 class="list-item-title">Connect to Google</h3>
            <p class="list-item-description">Use my Google account to login. <strong>We will never post to Google or message your friends without your permission.</strong></p>
        </div>
        <div class="list-item-actions" *ngIf="!authService.currentUser.google?.id">
            <a class="btn btn-sm btn--google" href="auth/google">Link Google</a>
        </div>
        <div class="list-item-actions" *ngIf="authService.currentUser.google?.id && (authService.currentUser.local?.active || authService.currentUser.twitter?.id || authService.currentUser.facebook?.id)">
            <a class="btn btn-sm btn-secondary-outline" (click)="unlinkAccount('GOOGLE')">Unlink Google</a>
        </div>
    </div>
</div>

<div class="security-settings section">
    <h2 class="section-title withDescription">Security</h2>
    <p class="section-description">Change my security settings.</p>

    <div class="list-item">
        <p class="list-item-description">Nothing here...</p>
    </div>
</div>
