/* ==========================================================================
   PROFILE COMPONENT
   ========================================================================== */

@import '../../style/tools/_vars.scss';
@import '../../style/tools/_mixins.scss';

.profile-wrapper {
    padding-top: 20px;
}

.profile-header {
    display: flex;
    margin: 30px 0;
}

.profile-header:before, .profile-header:after {
    content: "";
    display: table;
    clear: both;
}

.profile-avatar {
    float: left;
    margin: 0 30px 0 0;
}

.profile-avatar-tmp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
}

.profile-avatar-uploader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    overflow: hidden;
    color: $white;

    * {
        cursor: pointer;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-image: radial-gradient(ellipse farthest-side at 50% 50% , rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%);
        transform: scale(1.25);
        transition: all .6s ease;
        transition-delay: .2s;
    }

    &:hover {
        &:before {
            transform: scale(2.5);
            transition-delay: 0s;
        }
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
    }
}

.profile-avatar-uploader-icon {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    transition-delay: .1s;
    z-index: 0;
}

.profile-header-infos {
    flex: 1;
}

.profile-header-top {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.profile-infos-name {
    color: $white;
    padding: 13px 0 15px;
    flex: 1;
}

.profile-name, .profile-username {
    margin: 0;
}

.profile-name {
    font-size: 2rem;

    input {
        background: transparent;
        border: none;
    }
}

.profile-username {
    font-size: 1rem;
    font-weight: normal;
}

.profile-infos-edit {
    padding: 15px 0;
    align-self: flex-end;
    color: $white;
}

.profile-infos-stats {
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0 15px;

}

.profile-stats-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-stat-value, .profile-stat-label {
    text-align: right;
}

.profile-stat-value {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 2.25rem;
}

.profile-stat-label {
    font-size: .875rem;
    line-height: 1rem;
}

.profile-infos-bio {
    color: $black-light;
    padding: 15px 0 5px;
    font-size: 1rem;
    line-height: 1.125rem;
    background: transparent;
    border: none;
    width: 100%;
    resize: none;
}

.list-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.list-item-title, .list-item-description {
    max-width: 80%;
}

.list-item-infos {
    flex: 1;
}

.list-item-title {
    color: $black;
    margin: 0 0 2px;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.list-item-description {
    color: $black-light;
    font-size: .875rem;
    line-height: 1.125rem;
    margin: 0;
}

.list-item-description-darker {
    color: $black;
}

input.list-item-description-darker {
    max-width: 350px;
    width: 100%;
    border: none;
    background: transparent;
}
