<section class="section">
    <div class="container">
        <h2>
            {{authService.currentUser.name}}
            <small>@{{authService.currentUser.username}}</small>
        </h2>
        <p>{{authService.currentUser.bio}}</p>

        <h2>
            Account
            <small>Change my basic account settings.</small>
        </h2>

        <hr>

        <p><b>My username</b></p>
        <p><small>http://invow.io/{{authService.currentUser.username}}</small></p>

        <p><b>My email</b></p>
        <p><small>{{authService.currentUser.email}}</small></p>

        <h2>
            Security
            <small>Change my security settings</small>
        </h2>

        <div>
            <input type="text" [(ngModel)]="tmpUser.name" />
            <input type="submit" (click)="updateName()" value="save" />
        </div>

        <div>
            <div *ngIf="!tmpUser._avatar && authService.currentUser._avatar">
                <img [src]="authService.currentUser._avatar.getPath('original')" />
            </div>
            <div *ngIf="tmpUser._avatar">
                <img [src]="tmpUser._avatar.getPath('original')" />
                <input type="submit" (click)="updateAvatar()" value="save" />
                <input type="submit" (click)="cancelUpdateAvatar()" value="cancel" />
            </div>
            <input (change)="onAvatarFileChange($event)" type="file" ng2FileSelect [uploader]="uploader" />
        </div>
        <hr>
    </div>
</section>
