<section class="section">
    <div class="container">
        <h2>
            {{authService.currentUser.name}}
            <small>@{{authService.currentUser.username}}</small>
        </h2>
        <p>{{authService.currentUser.bio}}</p>

        <h2>
            Account
            <small>Change my basic account settings.</small>
        </h2>

        <hr>

        <p><b>My username</b></p>
        <div>
            <input type="text" [(ngModel)]="tmpUser.username" (keyup)="onUsernameKeyUp()" (keydown)="onUsernameKeyDown()" />
            <input type="submit" value="update" [disabled]="!usernameValid" (click)="updateUsername()" />
            <small>http://invow.io/{{tmpUser.username}}</small>
            <div *ngIf="tmpUser.username != authService.currentUser.username">
                <small *ngIf="validatingUsername">validation in progress..</small>
                <small *ngIf="!validatingUsername && usernameValid">valid</small>
                <small *ngIf="!validatingUsername && !usernameValid">invalid</small>
            </div>
        </div>

        <p><b>My email</b></p>
        <p><small>{{authService.currentUser.email}}</small></p>

        <h2>
            Security
            <small>Change my security settings</small>
        </h2>

        <div>
            <input type="text" [(ngModel)]="tmpUser.name" />
            <input type="submit" (click)="updateName()" value="save" />
        </div>

        <div>
            <div *ngIf="!tmpUser._avatar && authService.currentUser._avatar">
                <img [src]="authService.currentUser._avatar.getPath('original')" />
            </div>
            <div *ngIf="tmpUser._avatar">
                <img [src]="tmpUser._avatar.getPath('original')" />
                <input type="submit" (click)="updateAvatar()" value="save" />
                <input type="submit" (click)="cancelUpdateAvatar()" value="cancel" />
            </div>
            <input (change)="onAvatarFileChange($event)" type="file" ng2FileSelect [uploader]="uploader" />
        </div>
        <div>
            <h2>Link account</h2>
            <p><a *ngIf="!authService.currentUser.facebook?.id" href="auth/facebook">Link facebook</a></p>
            <div *ngIf="authService.currentUser.facebook?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.twitter?.id)">
                <a href="auth/facebook">Unlink facebook</a>
            </div>

            <p><a *ngIf="!authService.currentUser.twitter?.id" href="auth/twitter">Link twitter</a></p>
            <div *ngIf="authService.currentUser.twitter?.id && (authService.currentUser.local?.active || authService.currentUser.google?.id || authService.currentUser.facebook?.id)">
                <a href="auth/facebook">Unlink twitter</a>
            </div>

            <p><a *ngIf="!authService.currentUser.google?.id" href="auth/google">Link google</a></p>
            <div *ngIf="authService.currentUser.twitter?.id && (authService.currentUser.local?.active || authService.currentUser.twitter?.id || authService.currentUser.facebook?.id)">
                <a href="auth/facebook">Unlink google</a>
            </div>
        </div>
        <hr>
    </div>
</section>
