body {
    background: $whitesmoke;
    font-family: $font-primary;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

a,
area,
button,
.btn,
.button,
[role="button"],
input,
label,
select,
summary,
textarea {
    &:hover, &:active, &:focus {
        outline: none;
    }
}
