.dropdown-menu {
    border-radius: 3px;
    border: 1px solid $border-color;

}

.dropdown-header {
    margin-bottom: .125rem;
    color: $black-light;
}

.dropdown-item {
    padding: 3px 15px;
}

.dropdown-divider {
    background-color: $border-color;
}

.dropdown-item small {
    margin-top: -3px;
    display: block;
    color: $black-light;
}
