.section {
    margin: 0 0 30px;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.section:first-child {
    margin-top: -130px;

    .section-title:first-child {
        color: $white;

        a {
            &:hover, &:active, &:focus {
                opacity: .75;
            }
        }
    }
}
