<section class="section">
    <div class="container">
        <h2>Admin</h2>
        <div style="margin-top: 100px;">
            <div><a [routerLink]="['/admin/featured']">Featured management</a></div>

            <a (click)="deleteAllButUsers()">Delete all <small>(except admins)</small></a>
            <div>
                Generate
                <input type="number" name="collectionNb"  name="collectionNb" [(ngModel)]="collectionNb"/>
                collections
            </div>
            <div>
                Generate
                <input type="number" name="userNb"  name="userNb" [(ngModel)]="userNb"/>
                users
                <small>(delete all and set this to 0 to create colletions made by you only).</small>
            </div>
            <a (click)="generateCollectionAndItems()">Generate data</a>
            <div>
                <span>state: </span>
                <span *ngIf="isWorking">In progress..</span>
                <span *ngIf="!isWorking">Ready</span>
            </div>
        </div>
    </div>
</section>
