<article [class.has-thumbnail]="collection._thumbnail != empty" [style.background-color]="'#'+collection.color" class="card card-collection create-collection">
    <form (ngSubmit)="onCollectionSubmit()">
        <div *ngIf="collection._thumbnail" class="card-collection-thumbnail thumbnail">
            <img [src]="collection._thumbnail?.getPath('original')" />
        </div>
        <!-- <div class="card-color"></div> -->
        <div class="card-collection-container">
            <div class="card-collection-content">
                <input
                    (focus)="onCollectionFocus()"
                    [(ngModel)]="collection.title"
                    name="title"
                    class="input-card-collection-title card-collection-title" type="text" placeholder="{{t._.collection_create?.title_placeholder}}" required/>
                <textarea
                    (focus)="onCollectionFocus()"
                    [(ngModel)]="collection.bio"
                    [ngModelOptions]="{standalone: true}"
                    name="bio"
                    class="input-card-collection-caption card-collection-caption" name="" id="" placeholder="{{t._.collection_create?.caption_placeholder}}">
                </textarea>
                <div class="btn-group">
                    <button [class.collapse]="!actionIntent" *ngIf="t._.collection?.visibility" type="button" class="card-collection-visibily dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">remove_red_eye</i>  {{t._.collection?.visibility?.title}}: {{t._.collection?.visibility[collection.visibility.id]?.title}}
                    </button>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">{{t._.collection_create?.visibility_dropdow_title}}</h6>
                        <a (click)="collection.visibility=visibilityList.PRIVATE" class="dropdown-item">
                            <span>{{t._.collection?.visibility?.PRIVATE?.title}}</span>
                            <small>{{t._.collection?.visibility?.PRIVATE?.subtitle}}</small>
                        </a>
                        <a (click)="collection.visibility=visibilityList.PUBLIC" class="dropdown-item">
                            <span>{{t._.collection?.visibility?.PUBLIC?.title}}</span>
                            <small>{{t._.collection?.visibility?.PUBLIC?.subtitle}}</small>
                        </a>
                        <a (click)="collection.visibility=visibilityList.UNINDEXED" class="dropdown-item">
                            <span>{{t._.collection?.visibility?.UNINDEXED?.title}}</span>
                            <small>{{t._.collection?.visibility?.UNINDEXED?.subtitle}}</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div [class.collapse]="!actionIntent" class="card-collection-create">
            <div class="card-collection-actions form-inline">
                <div class="btn-group form-action dropup">
                    <button type="button" class="btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons icon">palette</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-color">
                        <!-- <h6 class="dropdown-header">Edit the color</h6> -->
                        <a
                            (click)="clickColor('CFD8DC')"
                            [class.selected]="collection.color=='CFD8DC'"
                            class="dropdown-item-color collection-color-grey"
                        >
                            Grey
                        </a>
                        <a
                            (click)="clickColor('FF887A')"
                            [class.selected]="collection.color=='FF887A'"
                            class="dropdown-item-color collection-color-red"
                        >
                            Red
                        </a>
                        <a
                            (click)="clickColor('FFD373')"
                            [class.selected]="collection.color=='FFD373'"
                            class="dropdown-item-color collection-color-orange"
                        >
                            Orange
                        </a>
                        <a
                            (click)="clickColor('FFFF7C')"
                            [class.selected]="collection.color=='FFFF7C'"
                            class="dropdown-item-color collection-color-yellow"
                        >
                            Yellow
                        </a>
                        <a
                            (click)="clickColor('A4ABFF')"
                            [class.selected]="collection.color=='A4ABFF'"
                            class="dropdown-item-color collection-color-purple"
                        >
                            Purple
                        </a>
                        <a
                            (click)="clickColor('78D6FF')"
                            [class.selected]="collection.color=='78D6FF'"
                            class="dropdown-item-color collection-color-blue"
                        >
                            Blue
                        </a>
                        <a
                            (click)="clickColor('A4FFEB')"
                            [class.selected]="collection.color=='A4FFEB'"
                            class="dropdown-item-color collection-color-cyan"
                        >
                            Cyan
                        </a>
                        <a
                            (click)="clickColor('CBFF8A')"
                            [class.selected]="collection.color=='CBFF8A'"
                            class="dropdown-item-color collection-color-green"
                        >
                            Green
                        </a>
                    </div>
                </div>

                <label class="file form-action">
                    <input (change)="onThumbnailFileChange($event)" [uploader]="uploader" class="file-input-card" id="avatar_file" name="file" ng2FileSelect type="file">
                    <label for="avatar_file" class="btn-icon material-icons icon">
                        photo
                    </label>
                </label>

                <button *ngIf="mode == 'CREATE'" class="btn btn-create pull-xs-right" type="submit">
                    {{t._.action?.create}}
                </button>
                <button *ngIf="mode == 'UPDATE'" class="btn btn-create pull-xs-right" type="submit">
                    {{t._.action?.update}}
                </button>
                <a *ngIf="mode == 'UPDATE'" (click)="cancelCollectionUpdate()" class="btn btn-create pull-xs-right">
                    {{t._.action?.cancel}}
                </a>
            </div>
        </div>
    </form>
</article>
