<main class="app_viewport" [class.collapse]="!authService.authInitialized || !t.langInitialized">
    <iv-header></iv-header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer" *ngIf="!headerService.noHeader">
        <div class="container">
            <div class="col-xs-12">
                <div class="float-xs-left">
                    <h1 class="icon-invow logo footer-logo">
                        Invow
                    </h1>
                    <span class="footer-copy">Invow© 2016</span>
                </div>
                <nav class="nav nav-pills float-xs-right collapse navbar-toggleable-md">
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                </nav>
            </div>
        </div>
    </footer>
</main>
