<section class="section">
    <div class="container">
        <h2 class="section-title">My collections <small><a [routerLink]="['/c/me']" style="font-size: 15px; color: #fff"> See all</a></small></h2>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                <iv-create-collection></iv-create-collection>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of myCollections">
                <iv-collection-card [collection]=collection></iv-collection-card>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">My favorite collections</h2>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of myFavoriteCollections">
                <iv-collection-card [collection]=collection></iv-collection-card>
            </div>
        </div>
    </div>
</section>
