<section class="section">
    <div class="container">
        <h2 class="section-title dark-bg">
            {{t._.dashboard?.my_collections_title}}
            <a class="section-title-more" href="javascript:void(0)" [routerLink]="['/c/me']">
                {{t._.action?.see_all}}
            </a>
        </h2>
        <div class="row">
            <div class="ui-state-default ui-state-disabled col-xs-12 col-md-6 col-lg-4 col-xl-3">
                <iv-collection-create (newCollection)="onbCollectionCreated($event)"></iv-collection-create>
            </div>
            <div iv-sortable [list]=myCollections (itemMoved)="onCollectionMoved($event)">
                <div *ngFor="let collection of myCollections" [class.cancel-sort]="isUpdatingPosition" class="ui-state-default col-xs-12 col-md-6 col-lg-4 col-xl-3">
                    <iv-collection-card [collection]="collection" [sortable]=true></iv-collection-card>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">
            {{t._.dashboard?.favorite_collections_title}}
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of myFavoriteCollections">
                <iv-collection-card [collection]="collection" [sortable]="false"></iv-collection-card>
            </div>
        </div>
    </div>
</section>
