@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500);

// VARS

// fonts

$font-primary:             Fira Sans, Helvetica, sans-serif;

//colors

$purple:                   #6B5DFF;

$black:                    #282828;
$grey:                     #777777;
$grey-light:               #BBBBBB;
$whitesmoke:               #F5F5F5;
$white:                    #FFFFFF;
