<div class="container">
    <div *ngIf="!searchQuery">
        <h2 class="section-title dark-bg">No ideas? You can visit the <a [routerLink]="['/discover']">discover page</a>...</h2>
    </div>
    <div *ngIf="searchQuery">
        <div class="search-loading" *ngIf="isLoadingUsers || isLoadingCollections">
            <h2 class="section-title dark-bg">Loading...</h2>
        </div>
        <div class="search-results" *ngIf="!isLoadingUsers && !isLoadingCollections">
            <h2 class="section-title dark-bg" *ngIf="users.length < 1 && collections.length < 1">
                Sorry no result for {{searchQuery}}
            </h2>
            <div class="search-results-summary" *ngIf="users.length > 0 || collections.length > 0">
                <h3 class="search-results-before-title">Results for</h3>
                <h2 class="search-results-title">{{searchQuery}}</h2>
            </div>
            <div class="search-results-users" *ngIf="users.length > 0">
                <h2 class="section-title dark-bg">Users</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of users">
                        <article class="card card-user">
                            <a class="card-user-content" [routerLink]="['/', user.username]" title="{{user.name}}">
                                <div class="card-avatar avatar avatar--40">
                                    <img *ngIf="user._avatar" [src]="user._avatar?.getPath('40x40')" alt="{{user.name}} avatar">
                                    {{user.name.charAt(0)}}
                                </div>
                                <h3 class="card-profile-name">{{user.name}}</h3>
                                <h4 class="card-profile-username">@{{user.username}}</h4>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="search-results-collections" *ngIf="collections.length > 0">
                <h2 class="section-title dark-bg">Collections</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of collections">
                        <iv-collection-card [collection]=collection></iv-collection-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
