<div class="container">
    <div *ngIf="!searchQuery">
        <h2 class="section-title dark-bg">No ideas? You can visit the <a [routerLink]="['/discover']" style="color: #fff">discover</a> page…</h2>
    </div>
    <div *ngIf="searchQuery">
        <div *ngIf="isLoadingUsers || isLoadingCollections">
            Loading...
        </div>
        <div *ngIf="!isLoadingUsers && !isLoadingCollections">
            <div *ngIf="users.length < 1 && collections.length < 1">
                <h2 class="section-title dark-bg">Sorry no result for {{searchQuery}}</h2>
            </div>
            <div *ngIf="users.length > 0 || collections.length > 0">
                <h2 class="section-title dark-bg">Result for "{{searchQuery}}"</h2>
            </div>
            <div *ngIf="users.length > 0">
                <h2 class="section-title dark-bg">Users</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of users">
                        <img  *ngIf="user._avatar" [src]="user._avatar?.getPath('60x60')" />
                        <b>{{user.name}}</b>
                        <small>@{{user.username}}</small>
                    </div>
                </div>
            </div>
            <div *ngIf="collections.length > 0">
                <h2 class="section-title dark-bg">Collections</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of collections">
                        <iv-collection-card [collection]=collection></iv-collection-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
