
<div *ngIf="!intentToUpdate">
    <div class="item-container-metas">
        <span class="date">{{item.createdAt | date}}</span>
        <div class="item-settings" *ngIf="isAuthor">
            <a class="card-collection--drag-handle edit-item move-item-button">Drag me</a>
            <a class="edit-item" (click)="updateItemIntent()"><i class="material-icons">edit</i>Edit</a>
            <a class="delete-item" (click)="deleteItem()"><i class="material-icons">delete</i>Delete</a>
        </div>
    </div>
    <tc-item-url *ngIf="item.type == itemTypes.URL" [itemUrl]="item._content"></tc-item-url>
    <tc-item-tweet *ngIf="item.type == itemTypes.TWEET" [itemTweet]="item._content"></tc-item-tweet>
    <tc-item-youtube *ngIf="item.type == itemTypes.YOUTUBE" [itemYoutube]="item._content"></tc-item-youtube>
    <tc-item-image *ngIf="item.type == itemTypes.IMAGE" [itemImage]="item._content"></tc-item-image>
    <tc-collection-card *ngIf="item.type == itemTypes.COLLECTION" [collection]="item._content"></tc-collection-card>
    <div class="item-content" *ngIf="item.description">
        <p>{{item.description}}</p>
    </div>
</div>
<div *ngIf="intentToUpdate && item.type != itemTypes.COLLECTION">
    <tc-item-create [item]=item (newItem)="onItemUpdated($event);" (updateCanceled)="onItemUpdatedCanceled($event)"></tc-item-create>
</div>
<div *ngIf="intentToUpdate && item.type == itemTypes.COLLECTION">
    <tc-collection-create [inputCollection]="item._content" (newCollection)="onSubCollectionUpdated($event);" (updateCanceled)="onItemUpdatedCanceled($event)"></tc-collection-create>
</div>
