<main>
    <div>
        <form (ngSubmit)="onCreatCollectionSubmit()">
            <legend>New Collection</legend>
            <div>
                <input [(ngModel)]="collection.title" type="text" placeholder="title" required />
                <input [(ngModel)]="collection.color" type="text" placeholder="color" required />
            </div>
            <div>
                <input (click)="collection.visibility=1" type="radio" name="collection_visibility" value="1" checked />PRIVATE
                <input (click)="collection.visibility=2" type="radio" name="collection_visibility" value="2" />PUBLIC
                <input (click)="collection.visibility=3" type="radio" name="collection_visibility" value="3" />UNINDEXED
            </div>
            <div>
                <input (change)="onThumbnailFileChange($event)" type="file" ng2FileSelect [uploader]="uploader" />
            </div>
            <div *ngIf="collection._thumbnail">
                <img [src]="collection._thumbnail?.getPath('original')" />
            </div>
            <button type="submit">Create collection</button>
        </form>
    </div>
</main>
