<div *ngIf="!isLoadingUser && user && user._id">
    <div class="profile-header">
        <div *ngIf="user" class="profile-avatar avatar avatar--140">
            <img *ngIf="user?._avatar" [src]="user?._avatar?.getPath('140x140')"  alt="{{user?.name}} avatar">
            {{user?.name.charAt(0)}}
        </div>
        <div class="profile-header-infos">
            <div class="profile-header-top">
                <div class="profile-infos-name">
                    <h2 class="profile-name">
                        {{user?.name}}
                    </h2>
                    <h3 class="profile-username">@{{user?.username}}</h3>
                </div>
                <div class="profile-infos-stats">
                    <div class="profile-stats-item">
                        <span class="profile-stat-value">0</span>
                        <span class="profile-stat-label">Collections</span>
                    </div>
                    <div class="profile-stats-item">
                        <span class="profile-stat-value">0</span>
                        <span class="profile-stat-label">Favorites</span>
                    </div>
                </div>
            </div>
            <div class="profile-header-bottom">
                <p *ngIf="user?.bio" class="profile-infos-bio">{{user?.bio}}</p>
                <p *ngIf="!user?.bio" class="profile-infos-bio">This user doesn't have bio yet...</p>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
        <h2 class="section-title">Last public collections</h2>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of userCollections">
                    <iv-collection-card [collection]="collection" [sortable]="false"></iv-collection-card>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="section-title">Favorite collections</h2>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let collection of userStarredCollections">
                    <iv-collection-card [collection]="collection" [sortable]="false"></iv-collection-card>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="!isLoadingUser && (!user || !user._id)">
    <div class="profile-header">
    </div>
    <section class="section">
        <div class="container">
            <h2 class="section-title dark-bg">Sorry cannot find user with username: "{{searchParams}}"</h2>
        </div>
    </section>
</div>
