<section class="section">
  <div class="container">
    <h2>
      {{authService.currentUser.name}}
      <small>@{{authService.currentUser.username}}</small>
    </h2>
    <p>{{authService.currentUser.bio}}</p>

    <h2>
      Account
      <small>Change my basic account settings.</small>
    </h2>

    <hr>

    <p><b>My username</b></p>
    <p><small>http://invow.io/{{authService.currentUser.username}}</small></p>

    <p><b>My email</b></p>
    <p><small>{{authService.currentUser.email}}</small></p>

    <h2>
      Security
      <small>Change my security settings</small>
    </h2>

    <hr>
  </div>
</section>
