<h2>Collection detail</h2>
<div *ngIf="collection">
    <h3>{{collection.title}}</h3>
    <img [src]="collection._thumbnail?.getPath('original')" />
    <div>
        <p>title: {{collection.title}}</p>
        <p>color: #{{collection.color}}</p>
    </div>
    <div>
        <p>
            created by <b>{{collection._author?.name}}</b>
            <small>@{{collection._author?.username}}</small>
        </p>
        <small>
            created the {{collection.createdAt | date }}
        </small>
    </div>
    <ul *ngIf="itemLoaded">
        <li *ngFor="let item of collection._items">
            <p>description: {{item.description}}</p>
            <p>type: {{item.type.id}}</p>
            <div *ngIf="item.type.id == 'URL'">
                <a [href]="item._content.url" target="_blank">{{item._content.url}}</a>
            </div>
            <div *ngIf="item.type.id == 'YOUTUBE'">
                <iframe width="560" height="315" [src]="item._content.trustedEmbedUrl" frameborder="0" allowfullscreen></iframe>
            </div>
        </li>
    </ul>
    <iv-item-create [collection]=collection></iv-item-create>
</div>
