/* ==========================================================================
   COLLECTION CARD COMPONENT
   ========================================================================== */

@import '../../style/tools/_vars.scss';
@import '../../style/tools/_mixins.scss';

.card {
    background: $white;
    width: 100%;
    height: 300px;
    border: none;
    box-shadow: 0 1px 4px $box-shadow-color;
    color: $black;
    border-radius: 3px;
    margin-bottom: 20px;

    &:before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid $border-color;
        border-radius: 3px;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
    }
}

.card-thumbnail, .card-color {
    background: $collection-default-color;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    border-radius: 3px 3px 0 0;

}

.card-thumbnail {
    &:after {
        content: "";
        position: absolute;
        background: $images-overlay;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.card-color {}

.card-container, .card-details {
    position: relative;
    z-index: 1;
}

.card-container {
    width: 100%;
    height: 100%;
    padding: 20px 20px 0;
}

.card-content {
    width: 100%;
    height: 230px;
    color: $black;

    &.has-thumbnail {
        color: $white;
    }
}

.card-title {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.125;
    margin-bottom: 10px;
}

.card-caption {
    font-size: 1rem;
}

.card-details {
    height: 60px;
    margin-top: -30px;
}

.card-avatar {
    display: block;
    float: left;
}

.card-details-infos {
    display: block;
    float: right;
}

.card-visibility {
    float: right;
    cursor: help;
}

.card-stats {
    height: 18px;
    margin-bottom: 12px;
    font-size: .875rem;
    color: $black-op-1-2;

    &.has-thumbnail {
        color: $white-op-2-3;
    }
}

.card-nb {
    padding-top: 17px;
    line-height: 1;
    font-size: .875rem;
    text-align: right;
    color: $black-light;
}

.starred {
    color: $black
}
