<article class="card create-collection" [style.background-color]="'#'+collection.color">
    <form (ngSubmit)="onCreatCollectionSubmit()">
        <div *ngIf="collection._thumbnail" class="card-thumbnail thumbnail">
            <img [src]="collection._thumbnail?.getPath('original')" />
        </div>
        <!-- <div class="card-color"></div> -->
        <div class="card-container">
            <div class="card-content" [class.has-thumbnail]="collection._thumbnail != empty">
                <input class="input-card-title card-title" [(ngModel)]="collection.title" type="text" placeholder="Create a collection..." required />
                <textarea class="input-card-caption card-caption" name="" id="" placeholder="Enter a caption here to describe the collection..."></textarea>
                <div class="btn-group">
                    <button type="button" class="card-visibily dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">remove_red_eye</i> Visibility: {{collection.visibility.desc}}
                    </button>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">Who should see this?</h6>
                        <a (click)="collection.visibility=visibilityList.PRIVATE" class="dropdown-item">
                            <span>Only me</span>
                            <small>Only me</small>
                            <!-- mettre un clé/valeur pour afficher un texte humain dans l'ui (e.g.: private/Only me, public/Public, unindexed/Unindexed) -->
                        </a>
                        <a (click)="collection.visibility=visibilityList.PUBLIC" class="dropdown-item">
                            <span>Public</span>
                            <small>Anyone can see this</small>
                        </a>
                        <a (click)="collection.visibility=visibilityList.UNINDEXED" class="dropdown-item">
                            <span>Unindexed</span>
                            <small>People with the link</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-create">
            <div class="card-actions form-inline">
                <div class="btn-group form-group card-action dropup">
                    <button type="button" class="file-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">palette</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-color">
                        <!-- <h6 class="dropdown-header">Edit the color</h6> -->
                        <a (click)="clickColor('CFD8DC')" class="dropdown-item-color collection-color-grey" [class.selected]="collection.color=='CFD8DC'">
                            Grey
                        </a>
                        <a (click)="clickColor('FF887A')" class="dropdown-item-color collection-color-red" [class.selected]="collection.color=='FF887A'">
                            Red
                        </a>
                        <a (click)="clickColor('FFD373')" class="dropdown-item-color collection-color-orange" [class.selected]="collection.color=='FFD373'">
                            Orange
                        </a>
                        <a (click)="clickColor('FFFF7C')" class="dropdown-item-color collection-color-yellow" [class.selected]="collection.color=='FFFF7C'">
                            Yellow
                        </a>
                        <a (click)="clickColor('A4ABFF')" class="dropdown-item-color collection-color-purple" [class.selected]="collection.color=='A4ABFF'">
                            Purple
                        </a>
                        <a (click)="clickColor('78D6FF')" class="dropdown-item-color collection-color-blue" [class.selected]="collection.color=='78D6FF'">
                            Blue
                        </a>
                        <a (click)="clickColor('A4FFEB')" class="dropdown-item-color collection-color-cyan" [class.selected]="collection.color=='A4FFEB'">
                            Cyan
                        </a>
                        <a (click)="clickColor('CBFF8A')" class="dropdown-item-color collection-color-green" [class.selected]="collection.color=='CBFF8A'">
                            Green
                        </a>
                    </div>
                </div>

                <label class="file form-group card-action">
                    <input (change)="onThumbnailFileChange($event)" type="file" ng2FileSelect [uploader]="uploader">
                    <span class="file-icon-only material-icons">
                        photo
                    </span>
                </label>

                <button class="btn btn-card-create form-group pull-xs-right" type="submit">
                    Create
                </button>
            </div>
        </div>
    </form>
</article>
