<article class="card" *ngIf="collection">
    <a [routerLink]="['/c', collection._id]" >
        <div *ngIf="collection._thumbnail" class="thumbnail card-thumbnail">
            <img [src]="collection._thumbnail?.getPath('original')" />
        </div>
        <div *ngIf="!collection._thumbnail" [style.background-color]="'#'+collection.color" class="card-color"></div>
    </a>
    <div class="card-container">
        <a [routerLink]="['/c', collection._id]" >
            <div class="card-content" [class.has-thumbnail]="collection._thumbnail">
                <h3 class="card-title">{{collection.title}}</h3>
                <p class="card-caption">{{collection.bio}}</p>
            </div>
        </a>
        <div class="card-details">
            <a [routerLink]="['/', collection._author.username]" title="{{collection._author?.name}}">
                <div class="card-avatar avatar avatar--60">
                    <img *ngIf="collection._author._avatar" [src]="collection._author._avatar.getPath('60x60')" alt="{{collection._author?.name}} avatar">
                    {{collection._author.name.charAt(0)}}
                </div>
            </a>
            <div class="card-details-infos">
                <div class="card-stats" [class.has-thumbnail]="collection._thumbnail">
                    <ul *ngIf="collection.visibility.id != 'PRIVATE'" class="stats-list">
                        <li class="stat-item-list">
                            <i class="material-icons stat-icon">mode_comment</i> 0
                        </li>
                        <li class="stat-item-list" [class.starred]="collection._star"  (click)="onStarCliked()" >
                            <i class="material-icons stat-icon">star</i> {{collection.starsCount}}
                        </li>
                    </ul>
                    <div *ngIf="collection.visibility.id == 'PRIVATE'" class="card-visibility" title="Visibility: {{collection.visibility.desc}}">
                        <i class="material-icons stat-icon">remove_red_eye</i>
                    </div>
                </div>
                <div class="card-nb">{{collection.itemsCount}} item</div>
            </div>
        </div>
    </div>
</article>
