<section *ngIf="collection" class="section collection-page">
    <div class="container">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="collection-page-header">
                <h2 class="collection-page-title">{{collection.title}}</h2>
                <div class="collection-page-details">
                    <a href="#" title="{{collection._author?.name}}">
                        <div class="collection-page-avatar avatar avatar--60">
                            <img *ngIf="collection._author._avatar" [src]="collection._author._avatar.getPath('original')" alt="{{collection._author?.name}} avatar">
                        </div>
                    </a>
                    <div class="collection-page-details-infos">
                        <div class="collection-page-metas">
                            <p class="collection-page-author">
                                A collection by <strong>{{collection._author?.name}}</strong>
                            </p>
                            <p class="collection-page-dates">
                                <span>{{collection.createdAt | date }}</span> <span *ngIf="collection.modifiedAt">• last modifications: {{collection.modifiedAt | date }}</span>
                            </p>
                        </div>
                        <div class="collection-page-stats">
                            <ul class="stats-list">
                                <li class="stat-item-list">
                                    {{collection.itemsCount}} item
                                </li>
                                <li *ngIf="collection.visibility.id != 'PRIVATE'" class="stat-item-list">
                                    <i class="material-icons stat-icon">mode_comment</i> 0
                                </li>
                                <li *ngIf="collection.visibility.id != 'PRIVATE'" class="stat-item-list">
                                    <i class="material-icons stat-icon">star</i> 0
                                </li>
                                <li *ngIf="collection.visibility.id == 'PRIVATE'" class="stat-item-list">
                                    <i class="material-icons stat-icon">remove_red_eye</i> Visibility: {{collection.visibility.desc}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <iv-item-create [collection]=collection (newItem)="onNewItem($event);"></iv-item-create>

            <div class="items-list" *ngIf="!itemLoaded">
                <article>
                    <p>There is no items in the colletion yet...</p>
                </article>
            </div>

            <div class="items-list" *ngIf="itemLoaded">
                <article class="item" *ngFor="let item of collection._items">
                    <iv-item [item]=item></iv-item>
                    <!--<div class="item-container">
                        <div class="item-embeded-content" *ngIf="item.type.id == 'URL'">
                            <img *ngIf="item._content.image" [src]="item._content.image" />
                            <a [href]="item._content.url" target="_blank">{{item._content.url}}</a>
                        </div>
                        <div class="item-embeded-content" *ngIf="item.type.id == 'TWEET'">
                            <div [innerHtml]="item._content.html"></div>
                        </div>
                        <figure class="figure item-embeded-content center-block" *ngIf="item.type.id == 'IMAGE'">
                            <img data-src="" class="figure-img img-fluid img-rounded" alt="A generic square placeholder image with rounded corners in a figure." [src]="item._content.url">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                        <div class="embed-responsive embed-responsive-16by9 item-embeded-content" *ngIf="item.type.id == 'YOUTUBE'">
                            <iframe class="embed-responsive-item" [src]="item._content.trustedEmbedUrl" allowfullscreen></iframe>
                        </div>
                        <div class="item-content" *ngIf="item.description">
                            <p>{{item.description}}</p>
                        </div>
                    </div>-->
                </article>
            </div>
        </div>
    </div>
</section>


