<section class="section">
    <div class="container">
        <h2 class="section-title">My collections</h2>
        <div class="row">
            <div class="col-xs-2" *ngFor="let collection of myCollections">
                <myCollectionCard [collection]=collection></myCollectionCard>
            </div>
            <div class="col-xs-2">
                <myCreateCollection></myCreateCollection>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">My favorite collections</h2>
        <div class="row">
            <div class="col-xs-2" *ngFor="let collection of myFavoriteCollections">
                <myCollectionCard [collection]=collection></myCollectionCard>
            </div>
        </div>
    </div>
</section>
