<section class="auth-section">
  <div class="auth-container">
    <a href="javascript:void(0)" [routerLink]="['/']">
      <h1 class="icon-invow logo auth-logo">TidyCards</h1>
    </a>
    <h2 class="auth-heading" *ngIf="confirmationInProgress">Email confirmation</h2>
    <h2 class="auth-heading" *ngIf="!confirmationInProgress && emailConfirmed">Congrats {{authService.currentUser.name}}!</h2>
    <h2 class="auth-heading" *ngIf="!confirmationInProgress && !emailConfirmed">Woops!</h2>

    <div class="auth-wrapper" >
      <div class="auth-content" *ngIf="confirmationInProgress">
        <p class="auth-top-content mb-0">Email confirmation in progress…</p>
      </div>

      <div class="auth-content" *ngIf="!confirmationInProgress && emailConfirmed">
        <p class="auth-top-content">You have successfully confirmed your email address.</p>
        <a class="btn btn-primary btn-block" [routerLink]="['/dashboard']">Go to Dashboard</a>
      </div>

      <div class="auth-content" *ngIf="!confirmationInProgress && !emailConfirmed">
        <p class="auth-top-content mb-0" *ngIf="!confirmationInProgress && !emailConfirmed">Something went wrong… It looks like this confirmation link is not working.</p>
      </div>
    </div>
  </div>
</section>
